h1 {
  color: #5a5a5a;
}

.color-grey {
  color: #5a5a5a;
}

#title-text {
  margin-top: 20px;
  font-size: 40px;
  letter-spacing: 9px;
  font-weight: 650;
}

.h1-title {
  text-align: center;
  font-size: 200%;
  letter-spacing: 5px;
}

